/* mobile */
@media only screen and (max-width: 480px) {
  body {
    background-color: darkolivegreen;
  }
}

/*tablet*/
@media only screen and (min-width: 481px) and (max-width: 800px) {
  body {
    background-color: darkkhaki;
  }
}

/* website*/
@media only screen and (min-width: 801px) {
  body {
    background-color: olive;
  }
}

/*patrick img*/

.imgHome {
  width: auto;
  border-radius: 64px;
  block-size: 225px;
  margin: 50%;
  float: right;
  border: solid 2px;
  border-color: rgb(58, 58, 178);
  display: flexbox;
}
.headerBut {
  color: blueviolet;
  display: flexbox;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: solid 2px;
  justify-content: center; /* Adjust alignment as needed */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}
.homePage {
  box-sizing: border-box;

  margin: 20%;
}
.homeBody {
  background-color: cadetblue;
  display: inline;
}
/* Developer, Artist, Mentor */
.DAM {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: xx-large;
  font-weight: 50px;
  color: darkorchid;
  text-align: left;
  padding: 10%;
}
.pHome {
  text-align: center;
  font-size: larger;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: floralwhite;
  font-size: x-large;
  padding: 5%;
}
.quoteHome {
  color: darkslateblue;
  text-align: center;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
  padding: 10px;
  border: solid 9px;
  border-color: indigo;
}
/* portfolio css*/

/* main header*/
.headPro {
  text-align: center;
  block-size: auto;
  background-color: bisque;
  border: 5px solid olive;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10000px;
  width: auto;
}
.divPort {
  background-color: rgb(153, 198, 224);
  margin: 100px;
  width: 64%;
  border: 3px solid green;
  padding: 10px;
  block-size: auto;
  display: block;
  padding: 20px;
}
.headPort {
  color: darkolivegreen;
  text-align: center;
  block-size: auto;
  background-color: bisque;
  border: 5px solid olive;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 100px;
  width: auto;
  padding: 10px;
  display: block;
  font-size: xx-large;
  font-weight: 200;
}
.para {
  color: darkgoldenrod !important;
  font-size: smaller;
  text-align: right;
}
.para2 {
  color: darkgoldenrod !important;
  font-size: smaller;
  text-align: right;
}

.imgPort-1 {
  margin: auto;
  height: fit-content;
  width: fit-content;
  display: inline-block;
  padding: 6%;
  max-width: 99%;
}

.imgPort-2 {
  margin: auto;
  height: fit-content;
  width: fit-content;
  display: inline-block;
  padding: 6%;
  max-width: 99%;
}

.imgPort-3 {
  margin: auto;
  width: fit-content;
  height: fit-content;
  display: inline;
  padding: 20px;
  max-width: 99%;
}
/*ABOUT SPECS*/

.abouthead{
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: xx-large;
color: rgb(215, 207, 201);
text-align: center;

}

.pAbout{
color: rgb(60, 48, 119);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center;
display: inline-flexbox;
font-size: x-large;


}

.li1 {
  margin: 10px;
  width: fit-content;
  border: solid 3px grey;
  display: inline-flexbox;
}

.li2 {
  margin: 10px;
  width: fit-content;
  border: solid 3px grey;
  display: inline-flexbox;
}

.li3 {
  margin: 10px;
  border: solid 3px grey;
  width: fit-content;
  display: inline-flexbox;
}

.img-1 {
  
  display: inline-flex;
  padding: 20px;
   width: 800px;
  height: 800px; ;
  object-fit: contain;
  border: 2px solid black;
  margin: 10px;
}

.headerBut {
  background-color: #cee2eb;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: auto;
  margin: 20px 20px;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
nav {
  position: fixed;
  left: 0;
  right: 0;
  align-items: center;
  color: aliceblue;
  height: 80px;
  padding: 10px;
  display: inline-flexbox !important;
}
