/* Mobile */
@media only screen and (max-width: 480px) {
  body {
    background-color: rgb(93, 144, 207);
  }
}

/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 800px) {
  body {
    background-color: rgb(191, 233, 120);
  }
}

/* Website */
@media only screen and (min-width: 801px) {
  body {
    background-color: rgb(205, 175, 120);
  }
}

/*Main Css*/
body {
  display: inline;
}
.imgHome {
  width: auto;
  border-radius: 64px;
  margin: 18%;
  float: right;
  border: solid 9px;
  border-color: rgb(58, 58, 178);
  display: flexbox;
  block-size: 700px;
}
.headerBut {
  display: flex;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background: #faf9f6;
  border: 4px solid antiquewhite;
  justify-content: space-between;
}
ul:hover {
  background-color: #c8cdd3;
  color: rgb(13, 233, 207);
}
ul {
  display: inline-flex;
  justify-content: space-evenly;
  margin: 2px 80px;
  text-wrap: nowrap;
  align-content: stretch;
  flex-direction: row;
  box-sizing: border-box;
}
li {
  width: 100px;
  border: solid 3px grey;
}

.homePage {
  box-sizing: border-box;

  margin: 20%;
}
/*homepage css*/
/* Developer, Artist, Mentor */
.DAM {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: xx-large;
  color: darkorchid;
  text-align: left;
  padding: 10%;
  display: inline-flex;
}
.imgHome-2 {
  width: 25vw;
  border-radius: 200px 0 200px 0;
  margin: 15px;
  position: absolute;
  z-index: 1;
}
.pHome {
  text-align: center;
  font-size: larger;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: floralwhite;
  font-size: x-large;
  padding: 5%;
}
.quoteHome {
  color: rgb(44, 30, 138);
  text-align: center;
  font-size: 37px;
  font-family: "Courier New", Courier, monospace;
  padding: 10px;
  border: solid 9px;
  border-color: indigo;
  background-color: rgb(113, 94, 126);
  position: relative;
}
/* portfolio css*/

/* main header*/
.headPort {
  text-align: center;
  block-size: auto;
  background-color: bisque;
  border: 5px solid olive;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10000px;
  width: auto;
}
.divPort {
  background-color: rgb(153, 198, 224);
  margin: 100px;
  width: 64%;
  border: 3px solid green;
  padding: 10px;
  block-size: auto;
  display: inline-flexbox;
  padding: 20px;
}
.headPort {
  color: darkolivegreen;
  text-align: center;
  block-size: auto;
  background-color: bisque;
  border: 5px solid olive;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 100px;
  width: auto;
  padding: 10px;
  display: block;
  font-size: xx-large;
  font-weight: 200;
}
.para {
  color: darkgoldenrod !important;
  font-size: smaller;
  text-align: right;
}
.para2 {
  color: darkgoldenrod !important;
  font-size: smaller;
  text-align: right;
}

.imgPort-1 {
  margin: auto;
  height: fit-content;
  width: fit-content;
  display: inline-block;
  padding: 6%;
  max-width: 99%;
}

.imgPort-2 {
  margin: auto;
  height: fit-content;
  width: fit-content;
  display: inline-block;
  padding: 6%;
  max-width: 99%;
}

.imgPort-3 {
  margin: auto;
  width: fit-content;
  height: fit-content;
  display: inline;
  padding: 20px;
  max-width: 99%;
}
/*ABOUT SPECS*/

.abouthead {
  margin: 10vh;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: xx-large;
  color: rgb(215, 207, 201);
  text-align: center;
  display: flex;
  border: rgb(224, 212, 175) solid 20px;
}
.aboutDIV {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-evenly;
  border: solid 2px darkblue;
  background-color: lightslategrey;
}
.pAbout {
  color: rgb(60, 48, 119);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  display: inline-flexbox;
  font-size: large;
  margin: 4%;
}

.img-1 {
  display: inline-flex;
  padding: 5px;
  width: 500px;
  height: 500px;
  object-fit: contain;
  border: 20px solid black;
  margin: 20px;
}
/* css for contact page*/

.bodyContact {
  background-image: url("images/blkBob.jpg");
  background-size: contain;
  background-position: center;
  margin: 100vh auto;
}
#formBox {
  justify-items: center;
  display: inline-table;
  background-color: goldenrod;
  font-size: medium;
  margin-block: 20vw;
}
/* success css*/
.success-Body {
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}

.success-message {
  padding: 20px;
  border-radius: 117px;
  box-shadow: 2px 2px 1px;
  color: indianred;
  font-family: ui-sans-serif;
  font-weight: 900;
}
